.clientesFilter{
    display: flex;
    justify-content: space-between;
    gap: 8px;
    margin-bottom: 48px;
}

.clientesFilter .filterButtons{
    display: flex;
    gap: 10px;
}

.clientesFilter .filterItem{
    gap: 15px;
    display: flex;
    align-items: center;
}

.clientesFilter .filterItem p{
    font-size: 15px;
    font-weight: 700;
}

.clientesFilter .secondaryButton{
    padding: 16px 20px;
}