.escuelitaViewContainer{
    min-height: 100%;
    padding: 25px 0;
    display: flex;
    flex-direction: column;
}

.escuelitaViewContainer .secondaryButton{
    position: fixed;
    bottom: 30px;
    right: 34px;
    z-index: 30;
}