.cotizadorBenefits.benefitContainer{
    /* width: 220px; */
    margin-right: 8px;
}

.cotizadorBenefits .benefitsHeader{
    height: 240px;
    /* border-bottom: 1px solid var(--gris-blink); */
    display: flex;
    align-items: flex-end;
}

.cotizadorBenefits .benefitsHeader h3{
    margin: 25px 0;
    font-weight: 700;
    font-size: 33px;
    line-height: 114.5%;
}

.cotizadorBenefits.benefitContainer .benefitItem{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.cotizadorBenefits.benefitContainer .benefitItem:nth-child(18){
    border-bottom: 1px solid var(--blink-gray);
}

.cotizadorBenefits.benefitContainer .benefitItem p{
    font-weight: 500;
    font-size: 15px;
    line-height: 114.5%;
    color: var(--blink-gray);
    margin: 0 16px;
}