.loginViewContainer{
    overflow: hidden;
    position: relative;
    min-height: 1024px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row nowrap;
    transition: .3s;
    background-color: var(--blink-main);
    min-height: 100vh;
}

.loginViewContainer:has(.largeSection){
    min-height: 1024px;
}


@media (max-width: 1200px) {
    .loginViewContainer{
        margin-top: 100px;
        align-items: flex-start;
    }
}

@media (max-width: 700px) {
    .loginViewContainer{
        margin-top: 0;
        align-items: center;
    }
}

@media (max-width: 500px) {
    .loginViewContainer{
        margin-top: 62px;
        align-items: flex-start;
        min-height: auto;
        height: 100%;
    }
}